<!DOCTYPE html>
{% extends 'base.html' %}

{% block contenido %}
<html>
<head>
    <title>Registrar Estados</title>
</head>

<body>
    <li><a href='/configuraciones/topologia/estados/' >Volver</a></li>
    <form method="post">
	{% csrf_token %}
        <table style="text-align:center;">
	    <tr>
		<td colspan="2" style='background-color: #D9EDF7'>
		    Registrar Estados
		</td>
	    </tr>
	    <tr>
		<td>Estado</td>
		<td><input type='text' required id="estado" name="estado"/></td>
	    </tr>
	    <tr>
		<td><input type="submit" value="Registrar"/></td>
	    </tr>
	</table>
    </form>
</body>
</html>
{% endblock %}